main {
    margin-top: 3rem;
}

main .card {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
    .read-more {
        text-align: center;
    }
}

.navbar {
    background-color: #036039;
}

footer.page-footer {
    background-color: #036039;
    margin-top: 2rem;
}
.btn-category {
    background: #dd5477;
    padding: 3px 10px;
    text-shadow: 1px 1px 1px #541c1c;
}