    <!--Footer links-->
    <div class="container-fluid">
        <div class="row">
            <!--First column-->
            <div class="col-md-3 offset-lg-1 hidden-lg-down">
                <h5 class="title">About madCoderZ</h5>
                <p>Material Design (codenamed Quantum Paper) is a design language developed by Google.</p>
                <p>Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, CSS, and JS framework - Bootstrap.</p>
            </div>
            <!--/.First column-->
            <hr class="hidden-md-up">
            <!--Second column-->
            <div class="col-lg-2 col-md-4 offset-lg-1">
                <h5 class="title">Cooking books</h5>
                <ul>
                    <li>
                        <a href="#!">"Cooking A-Z" by Mike Kalynsky</a>
                    </li>
                    <li>
                        <a href="#!">"No More Heat" by Joe Doe</a>
                    </li>
                    <li>
                        <a href="#!">"Sea Food for Starters" by Alex Well</a>
                    </li>
                    <li>
                        <a href="#!">"Easy Calories" by Samantha Bens</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
            <hr class="hidden-md-up">
            <!--Third column-->
            <div class="col-lg-2 col-md-4">
                <h5 class="title">Popular recipes</h5>
                <ul>
                    <li>
                        <a href="#!">Beff steak with almonds</a>
                    </li>
                    <li>
                        <a href="#!">Cordon Bleu</a>
                    </li>
                    <li>
                        <a href="#!">Vegan pancakes</a>
                    </li>
                    <li>
                        <a href="#!">Turkey stuffed sandwiches</a>
                    </li>
                </ul>
            </div>
            <!--/.Third column-->
            <hr class="hidden-md-up">
            <!--Fourth column-->
            <div class="col-lg-2 col-md-4">
                <h5 class="title">Find me on</h5>
                <ul>
                    <li>
                        <a href="#!">Facebook</a>
                    </li>
                    <li>
                        <a href="#!">Youtube</a>
                    </li>
                    <li>
                        <a href="#!">Instagram</a>
                    </li>
                    <li>
                        <a href="#!">Pinterest</a>
                    </li>
                </ul>
            </div>
            <!--/.Fourth column-->
        </div>
    </div>
    <!--/.Footer links-->
    <hr>
    <!--Call to action-->
    <div class="call-to-action">
        <h4>Powered by <a class="light" target="_blank" href="https://djangoproject.org">Django</a> Design & Developed by</h4>
        <ul>
            <li>
                <a target="_blank" rel="nofollow"><p id="icon" style="text-shadow: rgb(2, 67, 40) 0px 0px 0px, rgb(2, 68, 41) 1px 1px 0px, rgb(2, 70, 41) 2px 2px 0px, rgb(2, 71, 42) 3px 3px 0px, rgb(2, 72, 43) 4px 4px 0px, rgb(2, 73, 43) 5px 5px 0px, rgb(2, 74, 44) 6px 6px 0px, rgb(2, 75, 45) 7px 7px 0px, rgb(2, 76, 45) 8px 8px 0px, rgb(2, 78, 46) 9px 9px 0px, rgb(2, 79, 47) 10px 10px 0px, rgb(2, 80, 47) 11px 11px 0px, rgb(3, 81, 48) 12px 12px 0px, rgb(3, 82, 49) 13px 13px 0px, rgb(3, 83, 49) 14px 14px 0px, rgb(3, 84, 50) 15px 15px 0px, rgb(3, 86, 51) 16px 16px 0px, rgb(3, 87, 52) 17px 17px 0px, rgb(3, 88, 52) 18px 18px 0px, rgb(3, 89, 53) 19px 19px 0px, rgb(3, 90, 54) 20px 20px 0px, rgb(3, 91, 54) 21px 21px 0px, rgb(3, 93, 55) 22px 22px 0px, rgb(3, 94, 56) 23px 23px 0px, rgb(3, 95, 56) 24px 24px 0px;font-size: 40px;color: rgb(255, 255, 255);height: 35px;width: 249px;line-height: 35px;border-radius: 0%;text-align: center;background-color: rgb(3, 96, 57);"> madCoderZ </p></a>
            </li>
        </ul>
    </div>
    <!--/.Call to action-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="containter-fluid">
            © 2017 Copyright: <a href="#"> madCoderZ</a>
        </div>
    </div>
    <!--/.Copyright-->